
<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">
    
  <div class="form-group">
    <label for="EDUCATION">EDUCATION:</label>
    <select id="EDUCATIONs" name="EDUCATION"> 
      <option value="Graduate">Graduate</option>
      <option value="University">University</option>
      <option value="High school">High school</option>
      <option value="other">other</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="MARRIAGE">MARRIAGE:</label>
    <select id="MARRIAGE" name="MARRIAGE">
      <option value="Married">Married</option>
      <option value="Single">Single</option>
      <option value="other">other</option>
    </select>
  </div>
    <div class="form-group">
        <label for="BILL_AMT2">BILL_AMT2:</label>
        <input type="text" id="BILL_AMT2" name="BILL_AMT2" placeholder="Enter Amount of bill  value (float)">
    </div>

    <div class="form-group">
        <label for="BILL_AMT4">BILL_AMT4:</label>
        <input type="text" id="BILL_AMT4" name="BILL_AMT4" placeholder="Enter Amount of bill  (float)">
    </div>

    <div class="form-group">
        <label for="BILL_AMT5">BILL_AMT5:</label>
        <input type="text" id="BILL_AMT5" name="BILL_AMT5" placeholder="Enter Amount of bill  (float)">
    </div>

    <div class="form-group">
        <label for="BILL_AMT6">BILL_AMT6:</label>
        <input type="text" id="BILL_AMT6" name="BILL_AMT6" placeholder="EnterAmount of bill (float)">
    </div>



    <div class="form-group">
        <label for="PAY_0">Repayment Status 1:</label>
        <select id="PAY_0" name="PAY_0">
            <option value="-1">-1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="PAY_2">Repayment Status 2:</label>
        <select id="PAY_2" name="PAY_2">
            <option value="-1">-1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>

    <div class="form-group">
        <label for="PAY_3">Repayment Status 3:</label>
        <select id="PAY_3" name="PAY_3">
            <option value="-1">-1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>
    <div class="form-group">
        <label for="PAY_4">Repayment Status 4:</label>
        <select id="PAY_4" name="PAY_4">
            <option value="-1">-1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        </div>
    <div class="form-group">
        <label for="PAY_5">Repayment Status 5:</label>
        <select id="PAY_5" name="PAY_5">
            <option value="-1">-1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>
    <div class="form-group">
        <label for="PAY_6">Repayment Status 6:</label>
        <select id="PAY_6" name="PAY_6">
            <option value="-1">-1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
    </div>

<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>